@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #e1e5f0;
}

h1 {
  font-size: 6vw;
  margin: 10px 0;
}

h2 {
  font-size: 3vw;
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }
}

body {
  background-image: url(/images/background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #182938;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(/images/background_small.webp);
  }
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 5vw;
}

@media only screen and (max-width: 767px) {
  #container {
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
  }
}

#profile_pic img {
  border-radius: 50%;
  border: 5px solid #81869b;
  width: 23vw;
  height: 23vw;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#content #content_text {
  text-align: center;
}

#content #content_text h1 {
  margin-bottom: 20px;
}

#content #content_links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#content #content_links img {
  width: 6vw;
}

@media only screen and (max-width: 767px) {
  #content #content_links img {
    width: 12vw;
  }
}
