#start_container {
  display: flex;
  flex-direction: column;

  #start_container_content {
    text-align: center;
    padding-top: 20vh;
    height: 100%;
    flex: 1 1 auto;

    #profile_img {
      width: 12%;
      height: auto;
      box-shadow: 10px 13px 170px 32px rgba(255, 255, 255, 0.3);
    }

    h1 {
      line-height: 150%;
    }

    h2 {
      line-height: 120%;
    }

    button {
      margin: 4vh;
      padding: 10px 15px;
      border: 2px solid $highlight-color;
      color: $highlight-color;
      background-color: Transparent;
      cursor: pointer;
      font-size: 120%;
      font-family: "Aldrich", sans-serif;
      text-transform: uppercase;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }
  }

  @for $i from 1 through 6 {
    #start_container_content.first_open *:nth-child(#{$i}) {
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 0.5s;
      animation-delay: #{0.1 * $i}s;
    }
  }
}
