@import "reset";

$small_media: 767px;
$bg_backup_color: #182938;

.webp body {
  background-image: url(/images/background.webp);
  @media only screen and (max-width: $small_media) {
    background-image: url(/images/background_small.webp);
  }
}

.no-webp body {
  background-image: url(/images/background.jpg);
  @media only screen and (max-width: $small_media) {
    background-image: url(/images/background_small.jpg);
  }
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $bg_backup_color;
}