@import "reset";

$small_media: 767px;
$medium_media: 1000px;
$bg_backup_color: #182938;
$border_color: #81869b;
$profile_size: 23vw;
$link_size: 4vw;
$link_size_small: 6vh;
$font: "Montserrat", sans-serif;
$font-color: #e1e5f0;

html,
body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: $font;
  color: $font-color;
}

$font-sizes-large: (
  h1: 6em,
  h2: 4em,
);
@each $elem, $size in $font-sizes-large {
  #{$elem} {
    font-size: #{$size};
    margin: 10px 0;
  }
}

$font-sizes-medium: (
  h1: 4em,
  h2: 2em,
);
@media only screen and ((max-width: $medium_media) or (max-height: $medium_media)) {
  @each $elem, $size in $font-sizes-medium {
    #{$elem} {
      font-size: #{$size};
      margin: 10px 0;
    }
  }
}

$font-sizes-small: (
  h1: 3em,
  h2: 1em,
);
@media only screen and ((max-width: $small_media) or (max-height: $small_media)) {
  @each $elem, $size in $font-sizes-small {
    #{$elem} {
      font-size: #{$size};
      margin: 10px 0;
    }
  }
}

.webp body {
  background-image: url(/images/background.webp);
  @media only screen and (max-width: $small_media) {
    background-image: url(/images/background_small.webp);
  }
}

.no-webp body {
  background-image: url(/images/background.jpg);
  @media only screen and (max-width: $small_media) {
    background-image: url(/images/background_small.jpg);
  }
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $bg_backup_color;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media only screen and (max-width: $small_media) {
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
  }

  height: 100%;
  padding: 0 5vw;
}

#profile_pic {
  img {
    border-radius: 50%;
    border: 5px solid $border_color;
    width: $profile_size;
    height: $profile_size;
  }
}

#content {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  #content_text {
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }
  }

  #content_links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    img {
      width: $link_size;
      @media only screen and (max-width: $small_media) {
        width: $link_size_small;
      }
    }
  }
}
