#full_site_container {
	display: none;
	height: 100%;
	flex-direction: column;
}

#full_site_container #header {
	cursor: pointer;
}

#full_site_container #header #profile_img {
	width: 5%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
}

#full_site_container #header h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 400%;
}

#full_site_container #content_divider {
	width: 100%;
	height: 1vh;
	background-color: #D85315;
	position: relative;
}

#full_site_container #column_div {
	display: flex;
	flex: 1 1 auto;
	height: 100%;
}

#full_site_container .column {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: calc(100% / 4);
	height: 100%;
	border-left: 1px solid #D85315;
	border-right: 1px solid #D85315;
	border-bottom: 2px solid #D85315;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#full_site_container .column-header {
	margin: 20px 0px 20px 0px;
	flex-grow: 1;
	text-decoration: underline;
}

#full_site_container .column-content {
	flex-grow: 6;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 60px;
}

#full_site_container .column-content h4 {
	margin-top: 15px;
}

#full_site_container .column-content a {
	color: black;
	text-decoration: none;
}

#full_site_container .column-content a:hover {
	-webkit-filter: drop-shadow(0px 0px 30px rgba(156, 156, 156, 1));
  filter: drop-shadow(0px 0px 50px rgba(156, 156, 156, 1));
}